body {
    background: #2e2e2e;
    text-align: center;
}

p {
    color: orange;
    white-space: pre;
}

button {
    background-color: beige;
    border: orange;
    white-space: pre;
}

.tab {
    display: none;
}