/* Colors https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */

body {
    background: #2F3E46;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

p {
    white-space: pre;
}

button {
    background-color: #354F52;
    color: #FFFFFF;
    white-space: pre;
    min-width: 6%;
    min-height: 2vh;
    border: solid 1px #52796F;
}

.shopButton:active {
    background-color: #52796F;
}

.active {
    background-color: #52796F;
}

.tab {
    display: none;
}

.tabStyle {
    border: 1px solid #354F52;
    padding: .2%;
    min-height: 15vh;
    width: 50%;
    margin: 0 auto 1%;
    align-content: center;
    text-align: center;
}

.shopButton {
    min-width: 32.8%;
    min-height: 5vh;
    margin-bottom: 4px;
    margin-right: 0;
    margin-left: 0;
}

.columnButton {
    width: 90%;
    min-height: 3vh;
    margin: 5%;
    text-align: center;
}

#clickButton {
    background: #52796F;
    border: solid 1px #354F52;
}

.center-column {
    float: left;
    width: 60%;
    height: 99vh;
}

.side-column {
    float: left;
    width: 20%;
}

#money {
    margin-top: 0;
    padding: 3%;
}

#enchantmentsDisplay {
    margin-top: 0;
    padding: 3%;
}

.stats {
    text-align: left;
    width: 50%;
    border: solid 1px #354F52;
    margin: 2% auto auto;
}

.tabStats {
    text-align: center;
    width: 50%;
    border: solid 1px #354F52;
    margin: 2% auto auto;
}

.statsText {
    margin-bottom: 0;
    text-align: center;
}

#maxPrestigeButton {
    display: none;
}
